* {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	background-color: black;
	font-family: 'Montserrat'
}
.header {
	height: 800px;
	background: url('../img/bg1.png') no-repeat center center;
}
.header-content {
	text-align: center;
	position: relative;
	left: 50%;
	top: 47%;
	transform: translate(-50%,-47%);
}
.title {
	color: #eee;
	font-size: 80px;
}
.subtitle {
	color: #999;
	font-size: 40px;
}
.start {
	text-align: center;
	position: relative;
	left: 50%;
	bottom: -60%;
	transform: translate(-50%,0%);
}
.start-button {
	background-color: #fff;
    border: none;
    color: #333;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 4px 2px;
}
.form {
	height: 800px;
	background-color: black;
}